@{
    Layout = "~/Views/Shared/_Login.cshtml";
}
<script>
    window.location.href = "/index.html"
</script>
<div style="position: absolute;z-index:-1"><canvas id="cas"></canvas></div>

<body style="background-color: #f3f3f4;z-index:1">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name" style="margin-left: -257px;width:800">Uncertainty Evaluation System</h1>
            </div>
            <h3>欢迎访问 UES 不确定度评估分析系统</h3>
            <marquee direction="up" scrolldelay="200" style="text-align:center;font-size:20pt;font-weight:bold; margin-left: -60px;width:400;height:50">
                <p>
                    普通线性回归
                </p>
                <p>
                    单因素方差分析
                </p>
                <p>
                    正态分布检验
                </p>
                <p>
                    方差齐性检验
                </p>
                <p>
                    平均值一致性检验
                </p>
                <p>
                    可疑值剔除
                </p>
                <p>
                    科克伦检验
                </p>
            </marquee>
            <div class="form-group">
                <input class="form-control " placeholder="邮箱 Email" required="required" id="email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="密码 Password" required="required" id="password">
            </div>
            <button id="sumbit" class="btn btn-primary block full-width m-b" onclick="loginSumbit()">登录</button>
            <a class="text-muted text-center" href="@Url.Action("ForgetPass")">忘记密码?</a>
            <a class="btn btn-sm btn-white btn-block" style="margin-top: 10px;" href="@Url.Action("Register")">注册账号</a>
            <p class="m-t"> <small>Mathy All Rights Reserved  &copy; @DateTime.Now.Year</small> </p>
        </div>
    </div>
</body>
<script src="~/Scripts/New/LoginCanvas.js"></script>



