
\.vs/

Test1/

TwilightPlain\.TestCases/

Mathy/bin/

Mathy/obj/

Mathy\.Web/bin/

Mathy\.Web/obj/

Petunia/bin/

Petunia/obj/

Cherimoya/bin/

Cherimoya/obj/

Mathy\.DAL/bin/

Mathy\.DAL/obj/

Mathy\.Model/bin/

Mathy\.Model/obj/

Petunia\.LogicModel/bin/

Petunia\.LogicModel/obj/

Petunia\.Storage/bin/

Petunia\.Storage/obj/
