
\.vs/

Test1/

TwilightPlain\.TestCases/

Mathy/bin/

Mathy/obj/

Mathy.Web/bin/

Mathy.Web/obj/

Petunia/bin/

Petunia/obj/

Cherimoya/bin/

Cherimoya/obj/

Mathy.DAL/bin/

Mathy.DAL/obj/

Mathy.Model/bin/

Mathy.Model/obj/

Petunia.LogicModel/bin/

Petunia.LogicModel/obj/

Petunia.Storage/bin/

Petunia.Storage/obj/
/Mathy.DAL/obj
/Mathy.Model/obj
/Mathy.Model/bin
/Mathy.DAL/bin
/Petunia.LogicModel/obj
/Petunia.LogicModel/bin
/Petunia.Storage/obj
/Petunia.Storage/bin
/Petunia.Storage/obj
/Petunia.Storage/bin
/Mathy.DAL/bin
/Petunia.Storage/obj
/Petunia.Storage/bin
/Mathy.DAL/obj
/Mathy.DAL/bin
/Mathy.Model/obj
/Mathy.Model/bin

Mathy\.Web/Repository/Plans1/

*.zip

packages/

ConsoleApp4/bin/

ConsoleApp4/obj/
