@using Mathy.Web.Models
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<script src="~/Scripts/flot/jquery.flot.js"></script>
<script src="~/Scripts/flot/jquery.flot.tooltip.min.js"></script>
<script src="~/Content/d3/d3.min.js"></script>
<body style="background-color: #f3f3f4;" id="aa">
    <div class="middle-box text-center animated fadeInDown" style="max-width:1000px">
        <h2 class="font-bold">Uncertainty Evaluation System</h2>
        <div>
            <div class="media list-group-item  gray-bg">
                <div class="media-body">
                    <h3 class="media-heading">
                        蒙特卡洛方法不确定度评定
                    </h3>
                    <p>
                        这是说明
                    </p><p>
                        这是说明
                    </p><p>
                        这是说明
                    </p>
                </div>
                <div class="form-group" style="margin-top:10px">
                    <a href="@Url.Action("mcm","home",new MCMVM { MCMType =1, DecimalDigitCount=3})" class="btn-lg btn-info J_menuItem_Child">蒙特卡洛模拟计算</a>
                    <a href="@Url.Action("mcm","home",new MCMVM { MCMType=2,DecimalDigitCount=3})" class="btn-lg btn-info J_menuItem_Child">蒙特卡洛模拟计算（自适应）</a>
                </div>
            </div>
            <div class="media list-group-item  gray-bg ">
                <div class="media-body">
                    <h3 class="media-heading">
                        检测数据处理
                    </h3>
                    <p>
                        这是说明
                    </p><p>
                        这是说明
                    </p><p>
                        这是说明
                    </p>
                </div>
                <div class="form-group" style="margin-top:10px">
                    <a href="@Url.Action("PlansTotal","home",new { category="A"})" class="btn-lg btn-info J_menuItem_Child">浏览检测数据处理实验</a>
                </div>
            </div>

            <div class="media list-group-item  gray-bg">
                <div class="media-body">
                    <h3 class="media-heading">
                        标准物质不确定度评定
                    </h3>
                    <p>
                        这是说明
                    </p><p>
                        这是说明
                    </p><p>
                        这是说明
                    </p>
                </div>
                <div class="form-group" style="margin-top:10px">
                    <a href="@Url.Action("PlansTotal","home",new { category="B"})" class="btn-lg btn-info J_menuItem_Child">浏览标准物质不确定度评定实验</a>
                </div>
            </div>
        </div>
    </div>
</body>



