
@{
    ViewBag.Title = "Main";
    //Layout = null;
    Layout = "~/Views/Shared/_Login.cshtml";
}
<script src="~/Scripts/flot/jquery.flot.js"></script>
<script src="~/Scripts/flot/jquery.flot.tooltip.min.js"></script>
<script src="~/Content/d3/d3.min.js"></script>
<body style="background-color: #f3f3f4;" id="aa">
    <div class="middle-box text-center animated fadeInDown">
        <h2>欢迎登陆</h2>
        <h3 class="font-bold">Uncertainty Evaluation System</h3>
    </div>
</body>



