@using Mathy.Web.Models
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Login.cshtml";
    //var planA = (IEnumerable<PlanListCellVM>)ViewBag.planA;
    //var planB = (IEnumerable<PlanListCellVM>)ViewBag.planB;
}
<script src="~/Scripts/flot/jquery.flot.js"></script>
<script src="~/Scripts/flot/jquery.flot.tooltip.min.js"></script>
<script src="~/Content/d3/d3.min.js"></script>
<script>
    function changeSeq(planID, seqNo, todo) {
        $.ajax({
            url: "/Home/ChangeSeq",
            type: "POST",
            data: {
                planID: planID,
                seq: seqNo
            },
            traditional: true,
            success: function (result) {
                if (result == "success")
                    todo();
                else
                    alert("保存失败！");
            }
        });
    }

</script>
<body style="background-color: #f3f3f4;" id="aa">
    <div class="animated fadeInDown" style="margin-left:20px;margin-right:40px">
        @*<h1 class="font-bold" style="margin:50px 20px 40px 20px">Uncertainty Evaluation System</h1>*@

        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-title" style="font-size:x-large;font-weight:bold">
                    标准物质不确定度评定
                    @*<a href="@Url.Action("PlansTotal", "home", new { category = "B" })" class="btn-sm btn-success J_menuItem_Child  panel-title" style="font-size:large;font-weight:bold;text-decoration:underline">更多模型</a>*@
                </div>

            </div>
            <div class="panel-body">
                <div class="table-responsive gray-bg">
                    @{Html.RenderAction("PlansTotal_B", "home", new { category = "B" });}
                </div>
            </div>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-title" style="font-size:x-large;font-weight:bold">
                    检测数据处理
                    @*<a href="@Url.Action("PlansTotal", "home", new { category = "A" })" class="btn-sm btn-success J_menuItem_Child  panel-title" style="font-size:large;font-weight:bold;text-decoration:underline">更多模型</a>*@
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive gray-bg">
                    @{Html.RenderAction("PlansTotal_A", "home", new { category = "A" });}
                </div>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-title" style="font-size:x-large;font-weight:bold"> 蒙特卡洛方法不确定度评定</div>
            </div>
            <div class="panel-body">
                <div class="media col-lg">
                    <div class="media-body">
                        <div class="jumbotron">
                            <h2 class="media-heading" style="font-weight:bold">蒙特卡洛模拟计算 </h2>
                            <p>                </p>
                            <p>
                                蒙特卡洛方法是实现概率分布传播的一种数值方法。它通过对输入量X的PDF离散抽样，由测量模型传播输入量的分布，计算获得输出量Y的PDF离散抽样值，进而由输出量的离散分布数值直接获得输出量的最佳估计值、标准不确定度和包含区间。
                            </p>
                            <a href="@Url.Action("mcm","home",new MCMVM { MCMType =1, DecimalDigitCount=3})" class="btn-lg btn-success J_menuItem_Child">创建实验</a>
                        </div>
                        <div class="jumbotron">
                            <h2 class="media-heading" style="font-weight:bold">蒙特卡洛模拟计算（自适应）</h2>
                            <p>                </p>
                            <p>
                                在执行自适应蒙特卡洛方法的基本过程中，蒙特卡洛试验次数不断增加，直至所需要的各种结果达到统计意义上的稳定。
                            </p>
                            <a href="@Url.Action("mcm","home",new MCMVM { MCMType=2,DecimalDigitCount=3})" class="btn-lg btn-success J_menuItem_Child">创建实验</a>
                        </div>
                    </div>
                </div>
                @*<div class="media col-lg-6" style="margin-top:0px">
                        <div class="media-body">

                        </div>
                    </div>*@
            </div>
        </div>
    </div>
</body>



