
.vs/config/applicationhost.config
.vs/Cherimoya/v15/Server/sqlite3/storage.ide-wal
.vs/Cherimoya/v15/Server/sqlite3/storage.ide-shm
.vs/Cherimoya/v15/Server/sqlite3/storage.ide
.vs/Cherimoya/v15/Server/sqlite3/db.lock
.vs/Cherimoya/v15/.suo
.vs/Cherimoya/DesignTimeBuild/.dtbcache
.vs/Cherimoya/DesignTimeBuild/.dtbcache
.vs/Cherimoya/v15/.suo
.vs/Cherimoya/v15/Server/sqlite3/db.lock
.vs/Cherimoya/v15/Server/sqlite3/storage.ide
.vs/Cherimoya/v15/Server/sqlite3/storage.ide-shm
.vs/Cherimoya/v15/Server/sqlite3/storage.ide-wal
.vs/config/applicationhost.config
*.zip
