@{
    Layout = null;
}
@using Mathy.Model.Draw
@model  MeanValue
<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
    <div id="container" style="height: 100%"></div>
    <script type="text/javascript">
            var dom = document.getElementById("container");
            var myChart = echarts.init(dom);
            var datas = getData();
            var app = {};
            option = null;
            option = {
                title: {
                    text: '平均值(极值)控制图',
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['data', 'Xe=' + datas.d5[0], 'UCL=' + datas.d4[0], 'LCL=' + datas.d3[0]],
                    orient: 'vertical',
                    right: 5,
                    top: 'middle'
                },
                toolbox: {
                    show: true,
                    feature: {
                        dataView: { readOnly: true },
                        restore: {},
                        saveAsImage: {}
                    }
                },
                dataZoom: [{
                    start: 0,
                    end:20
                }, {
                    type: 'inside'
                }],
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: datas.d1
                },
                yAxis: {
                    type: 'value',
                    axisLabel: {
                        formatter: '{value}'
                    }
                },
                series: [
                    {
                        name: 'data',
                        type: 'line',
                        data: datas.d2,
                        color: 'black',
                        label: {
                            show: true,
                            align: 'right'
                        }
                    },
                    {
                        name: 'LCL=' + datas.d3[0],
                        type: 'line',
                        data: datas.d3,
                        lineStyle: {
                            normal: {
                                width: 2,
                                type: 'dashed'
                            }
                        },
                        symbol: 'none',
                        color: 'red'
                    },
                    {
                        name: 'UCL=' + datas.d4[0],
                        type: 'line',
                        data: datas.d4,
                        lineStyle: {
                            normal: {
                                width: 2,
                                type: 'dashed'
                            }
                        },
                        symbol: 'none',
                        color: 'green'
                    }, {
                        name: 'Xe=' + datas.d5[0],
                        type: 'line',
                        data: datas.d5,
                        symbol: 'none',
                        color: 'orange'
                    }
                ]
            };

            function getData() {
                var data = '@Model.Datas'.split(',');
                var d1 = [];
                for (let index = 0; index < data.length; index++) {
                    d1.push(index);
                }
                var d2 = [];
                var d3 = [];
                var d4 = [];
                var d5 = [];
                for (let index = 0; index < data.length; index++) {
                    const element = data[index];
                    d2.push(element);
                    d3.push(@Model.L);
                    d4.push(@Model.H);
                    d5.push(@Model.M);
                }
                return {
                    d1, d2, d3, d4, d5
                };
            }

            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }</script>
</body>
</html>