@{
    Layout = null;
}
@using Mathy.Model.Draw
@model Histogram
@{
    Layout = null;
    var titles = new List<string>();
    var rates = new List<double>();
    if (Model != null && Model.Datas != null)
    {
        foreach (var n in Model.Datas)
        {
            titles.Add(n.Item1 + "-" + n.Item2);
            rates.Add(n.Item3);
        }
    }
    var strT = string.Join(",", titles);
    var strR = string.Join(",", rates);
    var maxRate = Model.Datas.Max(m => m.Item3);
}
<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
    <div id="container" style="height: 100%"></div>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
    <script type="text/javascript">

        var titles = '@strT';
        var rates = '@strR';

        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    crossStyle: {
                        color: '#999'
                    }
                }
            },
            toolbox: {
                feature: {
                    dataView: { show: true, readOnly: false },
                    restore: { show: true },
                    saveAsImage: { show: true }
                }
            },
            legend: {
                data: ['概率密度', '拟合曲线']
            },
            xAxis: [
                {
                    type: 'category',
                    data: titles.split(','),
                    axisPointer: {
                        type: 'shadow'
                    },
                    axisLabel: { rotate: 60, interval: 0 }
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    name: '概率',
                    min: 0,
                    max: @(maxRate*1.1),
                    interval: 0.1
                }
            ],
            series: [
                {
                    name: '概率密度',
                    type: 'bar',
                    data: rates.split(',')
                },
                {
                    name: '拟合曲线',
                    type: 'line',
                    smooth: true,
                    lineStyle: {
                        width: 3,
                    },
                    data: rates.split(',')
                }
            ]
        };
        myChart.setOption(option, true);
    </script>
</body>
</html>