
@using Mathy.Model.Draw
@model LinearRegression
@{
    Layout = null;
    var datas = string.Join(",", Model.Datas.Select(m => m.Item1 + "_" + m.Item2));
    var formatter = "y= " + Model.K + " * x + " + Model.B;
    var minX = Model.Datas.Min(m => m.Item1) * 0.9;
    var maxX = Model.Datas.Max(m => m.Item1) * 1.1;
    var markB = minX * Model.K + Model.B;
    var markE = maxX * Model.K + Model.B;
}
<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
    <div id="container" style="height: 100%"></div>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
    <script type="text/javascript">
        var dataAll =[];
        var datas = '@datas';
        var a = datas.split(",");
        for (var i = 0; i < a.length; i++) {
            var d = a[i].split("_");
            var ad = [];
            ad.push(d[0]);
            ad.push(d[1]);
            dataAll.push(ad);
        }
        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        option = null;

        var markLineOpt = {
            animation: false,
            label: {
                normal: {
                    formatter: '@formatter',
                    textStyle: {
                        align: 'right'
                    }
                }
            },
            lineStyle: {
                normal: {
                    type: 'solid'
                }
            },
            tooltip: {
                formatter:  '@formatter'
            },
            data: [[{
                coord: [@minX, @markB],
                symbol: 'none'
            }, {
                coord: [@maxX, @markE],
                symbol: 'none'
            }]]
        };
        option = {
            title: {
                text: '@formatter',
                x: 'center',
                y: 0
            },
            toolbox: {
                show: true,
                feature: {
                    dataView: { readOnly: true },
                    restore: {},
                    saveAsImage: {}
                }
            },
            tooltip: {
                formatter: '({c})'
            },
            xAxis: [
                { gridIndex: 0, min: @minX, max:@maxX }
            ],
            yAxis: [
                { gridIndex: 0, min: @(markB*0.9), max: '@(markE*1.1)' }
            ],
            series: [
                {
                    name:  '@formatter',
                    type: 'scatter',
                    xAxisIndex: 0,
                    yAxisIndex: 0,
                    data: dataAll,
                    markLine: markLineOpt,
                    label: {
                        show: true,
                        position: 'right',
                        color: 'black'

                    }

                }
            ]
        };
        myChart.setOption(option, true);
    </script>
</body>
</html>